body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://fs01.vseosvita.ua/0100c5j1-e717/001.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h2 {
  color: rgb(0, 208, 255);
}

.button {
    color: rgb(241, 0, 189);
    background-color: black;
}

button:hover {
  background-color: rgb(0, 208, 255);
}

p {
  margin: 6px 0;
  font-size: 15px;
  color: rgb(241, 0, 189);
}
